body{
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.HeaderPart{
    height: 250px;
    width: 100%;
    position: relative;
}.HeaderPart img{
    position: absolute;
    width: 100%;
    min-width: 1400px;
    height: 100%;
}.HeaderPart .HeaderElements{
    position: absolute;
    width: 100%;
}.HeaderPart .HeaderElements .InputZone {
    width: 44%;
    max-width: 572px;
    height: 31px;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: flex-end;
}.HeaderPart .HeaderElements .InputZone input{
    outline: none;
    padding: 10px 48px 10px 15px;
    width: 100%;
    border-radius: 10px;
    border: none;
    height: 100%;
}.HeaderPart .HeaderElements .InputZone button{
    position: absolute;
    height: 51px;
    width: 10.5%;
    padding: 10px 10px 10px 15px;
    border-top-right-radius: 10px;
    outline: none;
    border: none;
    border-bottom-right-radius: 10px;
    background: black;
    transition: opacity 0.3s;
}.HeaderPart .HeaderElements .InputZone button:hover{
    opacity: 0.7;
    cursor: pointer;
}.HeaderPart .HeaderElements h1{
    color: white;
    text-align: center;
    margin-bottom: 30px;
}
.InformationElements{
    background-color: wheat;
    height: 447px;
}.InformationElements .blocs .bloc h4{
    color: #a0a0a0;
}.InformationElements .blocs{
    width: 79%;
    max-width: 1105px;
    margin: auto;
    height: 157px;
    display: flex;
    z-index: 1;
    box-shadow: 3px 2px 32px 0px rgb(0, 0, 0,0.35);
    justify-content: space-around;
    position: relative;
    bottom: 63px;
    background: white;
    border-radius: 15px;
}.InformationElements .blocs .bloc4{
    margin-right: 10px;
}.InformationElements .blocs .bloc1{
    margin-left: -25px;
}.InformationElements .blocs .bloc{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
}.InformationElements .blocs .bloc h4{
    position: relative;
    top: 20px;
}

#id { 
    position: relative;
    height: 100%;
    z-index: 0;
    bottom: 156px;
}